# =================================================================
# GLOBAL LEADER TRAEFIK CONFIGURATION
# =================================================================
# Rename this file to .env and adjust the ports according to the environment.

# Ports (Local: 8085/4435 | Production: 80/443)
HTTP_PORT=80
HTTPS_PORT=443

DASHBOARD_PORT=8080

# Traefik Dashboard Auth
TRAEFIK_GLOBAL_DOMAIN=localhost
TRAEFIK_DASHBOARD_AUTH="admin:$$apr1$$QWrwPIM4$$vg0QFR5xt2Z5SWc3lFWOj0"

# =================================================================
# DOMINIO GLOBAL (para Infisical, OpenObserve, etc)
# =================================================================
GLOBAL_DOMAIN=localhost

# Personalización de Subdominios Globales
OPENOBSERVE_SUBDOMAIN=obs
INFISICAL_SUBDOMAIN=secrets


# =================================================================
# INFISICAL - GESTOR DE SECRETOS
# =================================================================
INFISICAL_DB_USER=infisical
INFISICAL_DB_NAME=infisical
# (El Makefile inyectara automaticamente INFISICAL_ENCRYPTION_KEY, INFISICAL_AUTH_SECRET e INFISICAL_DB_PASSWORD)